<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI 小工具</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&family=Ma+Shan+Zheng&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="stylesheets/base.css" />
  <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body class="ff-mashanzheng">
  <main class="main">
    <form action="/" method="post">
      <h1 class="title">
        <svg viewBox="0 0 120 35">
          <path d="M 10 35 A 30 10 0 1 1 110 35" id="circle" fill="none" />
          <text>
            <textPath xlink:href="#circle">
              <%= title %>
            </textPath>
          </text>
        </svg>
      </h1>
      <div class="wrap">
        <div class="grandmaster-wrap">
          <img class="grandmaster" src="assets/img/grandmaster.png" alt="grandmaster" />

          <% if (1 === type) { %>
          <!-- 成語釋義 -->
          <div class="popup interpretation">
            <div class="popup-wrap">
              <h2><%= idiom_name %></h2>
              <p><%= idiom_interpretation %></p>
              <div class="content">
                <h2><%= idiom_name_cn %></h2>
                <p><%= idiom_interpretation_cn %></p>
              </div>
            </div>
            <button type="button" class="btn-close"><span class="material-icons">
                close
              </span></button>
          </div>
          <% } else if (2 === type) { %>
          <!-- 成語聯想 -->
          <div class="popup associate">
            <div class="popup-wrap">
              <h2><%= idiom_name %></h2>
              <div class="content">
                <h2><%= idiom_name_cn %></h2>
              </div>
            </div>
            <button type="button" class="btn-close"><span class="material-icons">
                close
              </span></button>
          </div>
          <% } else if (3 === type) { %>
          <!-- post了一個"" -->
          <% } %>
        </div>

        <div class="input-group">
          <label id="ques-wrap" class="input-wrap">
            <textarea id="ques" class="input" name="description" rows="3" placeholder="<%= ques_placeholder %>"><%= ques_content %></textarea>
          </label>
          <button type="submit" class="btn-send"><span class="material-icons">
              reply
            </span></button>
        </div>
      </div>
    </form>
  </main>
  <script>
    window.__CUSTOM_INIT__ = {
      type: '<%= type %>',
    };
  </script>
  <script src="assets/js/core.js"></script>
</body>

</html>